<div class="checkout-breadcrumbs">
  <span class="green">1. ORDER ITEMS</span>
  <img src="/assets/highlighted-right-arrow.png" />
  <span class="highlighted">2. ORDER INFO</span>
  <img src="/assets/highlighted-right-arrow.png" />
  <span>3. CONFIRMATION</span>
</div>

<div class="checkout-wrapper">
  <h1>CART</h1>
  <div class="delivery-instructions">
    <h2>Delivery Instructions</h2>
    <p class="message">
      {{data.fields.contentItems.0.fields.message}}
    </p>
  </div>
  <hr class="light" />
  <div id="shipping-widget"></div>
  <hr class="light bottom" />
</div>
