<div class="checkout-breadcrumbs">
  <span class="highlighted">1. ORDER ITEMS</span>
  <img src="/assets/highlighted-right-arrow.png" />
  <span>2. ORDER INFO</span>
  <img src="/assets/right-arrow.png" />
  <span>3. CONFIRMATION</span>
</div>

<div class="checkout-wrapper">
  <h1>CART</h1>
  <div class="items-message">You have <span class="green">0 items</span> in your order</div>

  <div id="checkout-items"></div>

  <div class="subtotal large">
    <span>Subtotal</span>
    <span class="value">$0.00</span>
  </div>

  <div class="next">
    <div class="get-started">
      <span class="wrapper">
        <a href="/checkout-2.html">2. ORDER INFO <img src="/assets/cart-next.png" /></a>
      </span>
    </div>
  </div>

</div>
