<div class="top-bg"></div>
<div id="hero" class="section">
  <h1 class="tk-vortice-concept">{{#each data.fields.tagline}}<p>{{this}}</p>{{/each}}</h1>
  {{> get_started}}
</div>
{{> loading }}
<div id="values" class="section" data-title="values">
  <h2>OUR VALUES</h2>
  <div class="content">
    {{#each data.fields.values}}
    <hr/>
        <div class="value">{{> value }}</div>
    {{/each}}
    <hr/>
  </div>
</div>
<div id="howitworks" class="section" data-title="how it works">
  <h2>HOW IT WORKS</h2>
  <div class="center">
    {{#each data.fields.howItWorks}}
      {{> howitworks }}
    {{/each}}
  </div>
</div>
<div id="cta" class="section">
  <div class="center">
    {{#each data.fields.callToActions}}
      {{> calltoaction }}
    {{/each}}
  </div>
</div>
<div id="aboutchef" class="section" data-title="about the chef">
  {{#with data.fields.aboutTheChef}}
    {{> about_chef}}
  {{/with}}
</div>
<div class="messaging-bg"></div>
<div id="sendmessage" class="section" data-title="messaging widget">
  <div class="center">
    {{#with data.fields.sendMessage.fields}}
    <div class="content" style="background-image: url({{background.fields.file.url}});">
      <h2>HUNGRY FOR MORE?</h2>
      <span id="message-widget" data-button-text="{{actionLabel}}"></span>
      <span class="location"><strong>Our Location: </strong>{{location}}</span>
      <span class="phone-number"><strong>Phone: </strong><a href="tel:+1{{phoneNumber}}">{{phoneNumber}}</a></span>
    </div>
    {{/with}}
  </div>
</div>
<div class="section"></div>
