<div id="sendmessage" class="section" data-title="messaging widget">
  <div class="center">
    <div class="content" style="background-image: url({{background.fields.file.url}});">
      <h2>{{title}}</h2>
      <span id="message-widget" data-button-text="{{actionLabel}}"></span>
      <span class="location"><strong>Our Location: </strong>{{location}}</span>
      <span class="phone-number"><strong>Phone: </strong><a href="tel:+1{{phoneNumber}}">{{phoneNumber}}</a></span>
    </div>
  </div>
</div>
