<meta charset="utf-8">
<link rel="shortcut icon" href="/assets/favicon.png">
<link rel="icon" type="image/png" href="/assets/logo-192.png" sizes="192x192">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/logo-180.png">
<script src="https://use.typekit.net/yqt6buf.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.7.20/aws-sdk.min.js"></script>
<script src="/assets/amazon-cognito.min.js"></script>
<script src="/assets/aws-sdk-mobile-analytics.min.js"></script>
