@media (max-width: 1392px) {
  #hero h1 {
    font-size: 72px;
    margin-top: 158px;
  }

  #cta .tile {
    width: 372px;
  }

  #aboutchef .photo {
    top: 106px;
    width: 287px;
  }

  .menu-wrapper {
    padding-top: 35px;
    h1 {
      margin-bottom: 30px;
    }
  }

  .menu-item {
    #slides {
      top: 128px;
    }
    .price {
      top: 103px;
    }
    .ingredients, .macros {
      top: 222px;
    }
    .description {
      top: 422px;
    }
    .quantity {
      top: 580px;
    }
    .get-started {
      top: 618px;
    }
  }
}
