@media (max-width: 1392px) {
  #hero h1 {
    font-size: 72px;
    margin-top: 158px;
  }

  #cta .tile {
    width: 372px;
  }

  #aboutchef .photo {
    top: 106px;
    width: 287px;
  }

  .menu-wrapper {
    padding-top: 35px;
    h1 {
      margin-bottom: 30px;
    }
  }
}
