<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/style.css">
  {{> metadata }}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body class="homepage">
  {{> header }}

  <div class="menu-item section">
    {{#with data.fields}}
    <h1>{{name}}</h1>
    <div id="slides" data-width="642" data-height="642">
      {{#each images}}
      <img src="{{fields.file.url}}" />
      {{/each}}
    </div>
    <div id="price-cart-widget"
         data-base-price="{{basePrice}}"
         data-options="{{toJSON options}}"></div>
    {{/with}}
  </div>

  {{> footer }}
  <script src="/js/app.min.js"></script>
</body>
</html>
