<!doctype html>
<html>
<head>
  <title>{{data.fields.name}} - CHEFit</title>
  <link rel="stylesheet" href="/styles/style.css">
  {{> metadata }}
</head>
<body class="menu-page">
  {{> header }}

  <div class="menu-item section">
    {{#with data.fields}}
    <h1>{{name}}</h1>
    <div id="slides" data-width="642" data-height="642">
      {{#each images}}
      <img src="{{fields.file.url}}" />
      {{/each}}
    </div>
    <div id="price-cart-widget"
         data-base-price="{{basePrice}}"
         data-options="{{toJSON options}}"
         data-macros="{{toJSON macros}}"
         data-name="{{name}}">
    </div>
    <div class="ingredients">
      <h2>INGREDIENTS</h2>
      {{#each ingredients}}
      <p>{{this}}</p>
      {{/each}}
    </div>
    <div class="description">
      {{longDescription}}
    </div>
    {{/with}}
  </div>

  {{> footer }}
  {{> scripts }}
</body>
</html>
